# SD card image partition layout for NanoPi R3S

image sdcard.img {
    hdimage {
    }

    # Gap for U-Boot SPL / idbloader (8 MiB = 0x800000)
    # Not a real partition; U-Boot writes idbloader.img at offset 32K
    # and u-boot.itb at offset 8M.

    partition boot-A {
        partition-type-uuid = "bc13c2ff-59e6-4262-a352-b275fd6f7172"
        offset = 8M
        size = 128M
        image = "boot-a.vfat"
    }

    partition boot-B {
        partition-type-uuid = "bc13c2ff-59e6-4262-a352-b275fd6f7172"
        offset = 136M
        size = 128M
        image = "boot-b.vfat"
    }

    partition rootfs-A {
        partition-type-uuid = "0fc63daf-8483-4772-8e79-3d69d8477de4"
        offset = 264M
        size = 512M
        image = "rootfs-a.squashfs"
    }

    partition rootfs-B {
        partition-type-uuid = "0fc63daf-8483-4772-8e79-3d69d8477de4"
        offset = 776M
        size = 512M
        image = "rootfs-b.squashfs"
    }

    partition persistent {
        partition-type-uuid = "0fc63daf-8483-4772-8e79-3d69d8477de4"
        offset = 1288M
        image = "persistent.ext4"
    }
}
